/* footer */

/* Bố trí cho phần footer */

.footer-container {
  display: flex;
  flex-wrap: wrap; 
}

/* Cấu trúc cho màn hình lớn */
.col-md-4 .footer-contact {
  flex: 0 0 39.5%; 
}

.col-md-2 .footer-contact {
  flex: 0 0 15%;
}

/* Khi thu nhỏ màn hình */
@media (max-width: 991px) {
  .col-md-4 {
      flex: 0 0 100%; 
  }
  .col-md-2 {
      flex: 0 0 50%; 
  }
  .footer-contact {
      margin-bottom: 20px; 
  }
  #footer_contact_help{
    margin-left:-20px;
  }
}



.footernav_contact_list ,.footer-columns_contact_list,.footernav_legal_li{
  list-style-type: none; 
}
.footernav_legal_li,.footernav_social_li, .footernav_social_li {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;

}
.footernav_social_ul {
  margin-right: 20px;
}
.footernav_social_li{
  padding-left: 20px;
  padding-right: 20px;
}

.footernav_social_link {
  text-decoration: none; 
  color:#383838;
  transition: color 0.3s ease, box-shadow 0.3s ease; 
}

.footernav_social_link img.bi:hover {
  border-radius: 50%;             
  box-shadow: 0 0 20px pink, 0 0 20px pink,0 0 20px pink,0 0 20px pink; 
}
.footernav_social_link i.bi {
  color:#030303; 
}
#bi-facebook,#bi-pinterest{
  margin-top: -5px;
}
.footernav_social_link:hover i.bi {
  text-shadow: 0 0 10px pink, 0 0 10px pink,0 0 10px pink,0 0 10px pink; 
}


.footernav_legal_link,.footernav_legal_copyright{
  text-decoration: none;
  color:#383838;
  font-size: 12.5px;
  
}
.footernav_legal_ul{
  left:20px;
  top:12px;
  position: absolute;
}
.fooernav_social_ul{
  top:12px;
  right: 20px;
  position: absolute;
}

.footernav_contact_us_phone,.footernav_contact_us_email,
.footer-columns_link {
  text-decoration: none;
  color:#383838;
}
.footerlink_contact_us_email, .footerlink_contact_us_phone{
  color:#7d5d4d;
}

.footernav_contact_li .footernav_contact_us_phone:hover{
  color:#7d5d4d;
}

.footer-columns_contact_li .footer-columns_link:hover{
  color:#7d5d4d;
}
.footernav_legal_li .footernav_legal_link:hover{
  color:#7d5d4d;
}

.footernav_contact_li .footernav_contact_us_email:hover{
  color:#7d5d4d;
}

.footernav_contact_title,.footer-columns_contact_title{
  font-size: 12px; 
  letter-spacing: 1px;
}

.footer-columns_link {
  transition: all 0.3s ease; 
  font-size: 0.9em; 
  color: #000;
}

.footer-columns_link:hover {
  font-size: 1em; 
}

@media (max-width: 768px) {
  .footernav_section_social {
      margin-bottom: 15px;
  }
  .fooernav_social_ul, .footernav_legal_ul{
      position: static;
      text-align: center;
      margin: 0 auto;
  }
}

@media (max-width: 1199px) {
  .footernav_section_social {
      margin-bottom: 15px;
  }
  .fooernav_social_ul, .footernav_legal_ul{
      position: static;
      text-align: center;
      margin: 0 auto;
  }
}

#id1{
  margin-bottom: 20px;
}
#p{
  font-size: 14px;
}

.footernav_contact{
  width: 100%;
  height: 220px;
  background-color: #f9f8f7;
}

.footernav_NewSeller{
  width: 100%;
  height: 200px;
  background-color: #f2eee9;
}

.label{
  letter-spacing: 1px;
  font-size: 20px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.footer-columns {
  margin-top: 20px;
  padding-left: 10px; 
}

.footer-columns_contact_title {
  text-align: left;
  display: block;
  margin-bottom: 10px;
  padding-left: 5px; 
}

.footer-columns_contact_list {
  padding-left: 5px;
}

.footer-columns_link{
  font-size: 14px;
}

.footernav_NewSeller{
  padding: 35px;
}

.email-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

}
.submit-button {
  border-left:0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #f8f9fa;
  border-color: #ced4da;
  color: #6c757d;
  width: 40px;
}

.submit-button:hover {
  background-color: #e2e6ea;
}

/* footer */